{% extends "base.html" %}

{% block content %}

    <div id="image-box"></div>
    <br>
    <form action="" id="upload-form">
        {% csrf_token %}
        <input name="image" type="file" id="id_image">
        <button type="button" id="upload-button">Upload</button>
    </form>
    <br>
    <div id="progress-box" class="not-visible">progress</div>
    <div id="cancel-box" class="not-visible">
        <button id="cancel-btn" class="btn btn-danger">cancel</button>
    </div>

        <div id="alert-box"></div>

{% endblock content %}

